rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /strategies/{docId} {
      allow read, write, delete: if true;
    }
  }
}
